.mainbox{
    flex-direction: column;
}
#navbar ul li a{
    padding:7px 6px ;
}
#navbar{
    flex-direction: column;
}
#client-section h1{
    padding: 9px 59px;
}
#clients{
    flex-direction: column;
}
form button{
    margin: 4px 53px;
}